<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Book-Store | Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <h4 class="mt-4 title">[[${title}]]</h4>
        <div th:if="${msg_error}" class="alert alert-danger">
            [[${msg_error}]] <i class="fas fa-times"></i>
        </div>
        <div class="card mb-4 col-md-8">
            <div class="card-header">Thông tin sách</div>
            <div class="card-body">
                <form th:action="@{/admin/book/save}"
                      method="post"
                      enctype="multipart/form-data"
                      th:object="${book}">

                    <input type="hidden" th:field="*{id}"/>

                    <label>Tên sách</label></br>
                    <input type="text" th:field="*{name}" class="form-control name-book" required/>

                    <div class="divide"></div>

                    <label style="margin-bottom: 0px">Ảnh</label></br>
                    <th:block th:if="${book.photo} == null">
                        <img id="thumbnail"/>
                    </th:block>
                    <th:block th:if="${book.photo} != null">
                        <img id="thumbnail" th:src="@{'/images/book/'+${book.photo}}"/>
                    </th:block>
                    <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg">

                    <div class="divide"></div>

                    <label>Thể loại</label></br>
                    <select th:field="*{category_id}" class="form-select">
                        <th:block th:each="category : ${listCategories}">
                            <option th:value="${category.id}">[[${category.name}]]</option>
                        </th:block>
                    </select>

                    <div class="divide"></div>

                    <label>Tác giả</label></br>
                    <select th:field="*{author_id}" class="form-select">
                        <th:block th:each="author : ${listAuthors}">
                            <option th:value="${author.id}">[[${author.name}]]</option>
                        </th:block>
                    </select>

                    <div class="divide"></div>

                    <label>Nhà xuất bản</label></br>
                    <input type="text" th:field="*{publisher}" class="form-control publisher-book" required/>

                    <div class="divide"></div>

                    <label>Ngày xuất bản</label></br>
                    <input type="date" th:field="*{datePublish}" class="form-control date-publish-book" required/>

                    <div class="divide"></div>

                    <label>Giá bán</label></br>
                    <input type="number" th:field="*{price}" class="form-control price-book" required/>

                    <div class="divide"></div>

                    <label>Giá nhập</label><br/>
                    <input type="number" th:field="*{priceImport}" class="form-control price-import-book" required/>

                    <div class="divide"></div>

                    <label>Số lượng nhập</label></br>
                    <input type="number" th:field="*{quantity}" class="form-control quantity-book" required/>

                    <div class="divide"></div>

                    <label>Đã bán</label></br>
                    <input readonly type="number" th:field="*{sold}" class="form-control"/>

                    <div class="divide"></div>

                    <label>Mô tả sản phẩm</label></br>
                    <textarea th:field="*{description}" rows="10" class="form-control"></textarea>

                    <div class="divide"></div>

                    <th:block th:if="${id} != null">
                        <label>Thêm khuyến mãi</label></br>
                        <select th:field="*{promotionId}" class="form-select">
                            <option value="">Lựa chọn khuyến mãi</option>

                            <th:block th:if="${book.promotionId != null}">
                                <th:block th:each="promotion : ${listPromotions}">
                                    <option th:if="${promotion.id != 24}" th:value="${promotion.id}">[[${promotion.name}]]</option>
                                </th:block>
                                <option value="">Xóa khuyến mãi</option>
                            </th:block>

                            <th:block th:if="${book.promotionId == null}">
                                <th:block th:each="promotion : ${listPromotions}">
                                    <option th:if="${promotion.id != 24}" th:value="${promotion.id}">[[${promotion.name}]]</option>
                                </th:block>
                            </th:block>
                        </select>
                        <div class="divide"></div>
                    </th:block>

                    <button type="submit" class="btn-outline-success btn btn-save-book">Save</button>
                    <button type="button" class="btn-outline-secondary btn m-2" onclick="cancelForm()">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/aopq6ztjbmkvsc19ikj5px7li6yyctqcw95pghlmturat7ch/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        function cancelForm() {
            window.location = "/book-store/admin/book";
        }

        $('.btn-save-book').click(function (event) {
            var today = new Date();
            let id = $('#id').val();
            let valName = $('.name-book').val().trim();
            let valImage = $('#fileImage').val();
            let valPublisher = $('.publisher-book').val().trim();
            let valDatePublish = new Date($('.date-publish-book').val());
            let valPrice = $('.price-book').val();
            let valPriceImport = $('.price-import-book').val();
            let valQuantity = $('.quantity-book').val();
            console.log(valDatePublish);
            if (valName == '') {
                alert('Yêu cầu nhập tên sách');
                event.preventDefault();
            } else {
                if (id == '' && valImage == '') {
                    alert('Yêu cầu nhập ảnh sản phẩm');
                    event.preventDefault();
                } else {
                    if (valPublisher == '') {
                        alert('Yêu cầu nhập tên nhà xuất bản');
                        event.preventDefault();
                    } else {
                        if (valDatePublish == 'Invalid Date') {
                            alert('Yêu cầu nhập ngày xuất bản');
                            event.preventDefault();
                        } else {
                            if (valDatePublish > today) {
                                alert('Yêu cầu ngày xuất bản không được phép vượt quá ngày hiện tại');
                                event.preventDefault();
                            } else {
                                if (valPrice == '') {
                                    alert('Yêu cầu nhập giá bán');
                                    event.preventDefault();
                                } else {
                                    if (valPrice != '' && valPrice <= 0) {
                                        alert('Yêu giá bán phải lớn hơn 0');
                                        event.preventDefault();
                                    } else {
                                        if (valPriceImport == '') {
                                            alert('Yêu cầu nhập giá nhập');
                                            event.preventDefault();
                                        } else {
                                            if (valPriceImport != '' && valPriceImport <= 0) {
                                                alert('Yêu cầu giá nhập phải lớn hơn 0');
                                                event.preventDefault();
                                            } else {
                                                if (valQuantity == '') {
                                                    alert('Yêu cầu nhập số lượng');
                                                    event.preventDefault();
                                                } else {
                                                    if (valQuantity != '' && valQuantity <= 0) {
                                                        alert('Yêu cầu số lượng nhập phải lớn hơn 0');
                                                        event.preventDefault();
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        });

        $(document).ready(function () {
            $('#fileImage').change(function () {
                showImageThumbnail(this);
            });
        });

        function showImageThumbnail(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();
            reader.onload = function (e) {
                $('#thumbnail').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }
    </script>
</div>
</body>
</html>