<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/_layout.html}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Book-Store | Mua sách trực tuyến giá rẻ nhất</title>
</head>
<body>

<div layout:fragment="content">
    <div class="dialog rounded text-center dialog-udpw">
        <p></p>
        <button class="btn btn-outline-primary mb-3 btn-ok-udpw">OK</button>
    </div>
    <div class="container">
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a>Tài khoản của tôi</a>
            </li>
        </ol>
        <div class="customer-page mt-3">
            <div class="row">
                <div class="col-md-3 customer-option">
                    <div class="row">
                        <img th:src="@{'/images/icon/avatar.png'}"/>
                        <div class="info">
                            <p>Tài khoản của</p>
                            <strong sec:authentication="principal.fullName"></strong>
                        </div>
                    </div>
                    <div>
                        <ul class="nav flex-column">
                            <li th:if="${pageCurrent == 'account'}" style="background:#BBBBBB"><i
                                    class="fas fa-user icon"></i> <a th:href="@{/customer/account}">Thông tin
                                tài khoản</a></li>
                            <li><i class="fas fa-file-invoice icon"></i><a th:href="@{/customer/order}">Quản
                                lý đơn hàng</a></li>
                            <li><i class="fas fa-heart icon"></i><a th:href="@{/customer/favourite}">Sản phẩm
                                yêu thích</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 customer-shared customer-update-password">
                    <div class="heading">Đổi mật khẩu</div>
                    <div class="rounded bg-white" style="height: 450px">
                        <div class="form mt-4 mb-4">
                            <div class="text-center">
                                <div class="spinner-border text-primary load-update-pw" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div class="mt-4">
                                <label>Mật khẩu hiện tại</label>
                                <div class="form-control d-flex justify-content-between">
                                    <input class="oldPassword" maxlength="32"
                                           placeholder="Nhập mật khẩu hiện tại"
                                           type="password"/>
                                    <div id="eye-oldPassword" style="cursor: pointer"><i id="icon-eye-oldPassword" class="fas fa-eye"></i></div>
                                </div>
                                <div id="msg-opw"></div>
                            </div>
                            <div class="mt-3">
                                <label>Mật khẩu mới</label>
                                <div class="form-control d-flex justify-content-between">
                                    <input class="password" maxlength="32"
                                           placeholder="Nhập mật khẩu mới"
                                           type="password"/>
                                    <div id="eye-password" style="cursor: pointer"><i id="icon-eye-password" class="fas fa-eye"></i></div>
                                </div>
                                <div class="hint-msg-pw">Mật khẩu phải dài từ 8 kí tự trở lên</div>
                                <div id="msg-pw"></div>
                            </div>

                            <div class="mt-3">
                                <label>Nhập lại mật khẩu mới</label>
                                <div class="form-control d-flex justify-content-between">
                                    <input class="confirmPassword" maxlength="32"
                                           placeholder="Nhập lại mật khẩu mới"
                                           type="password"/>
                                    <div id="eye-confirmPassword" style="cursor: pointer"><i id="icon-eye-confirmPassword" class="fas fa-eye"></i></div>
                                </div>

                                <div id="msg-cfpw"></div>
                            </div>
                            <button disabled id="btn-udpw" class="form-control mt-3 btn btn-outline-primary">Lưu thay đổi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>