<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <link th:href="@{/css/web/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/web/verify.css}" rel="stylesheet"/>
    <link th:href="@{/css/web/auth.css}" rel="stylesheet"/>
    <link th:href="@{/css/web/cart.css}" rel="stylesheet"/>
    <link th:href="@{/css/web/payment.css}" rel="stylesheet"/>
    <link th:href="@{/css/web/customer.css}" rel="stylesheet"/>
    <link th:href="@{/css/web/contact.css}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>


    <script th:src="@{/js/web/script.js}"></script>
    <script th:src="@{/js/web/auth.js}"></script>
    <script th:src="@{/js/web/customer.js}"></script>
</head>
<body>

<!-- Header -->
<div th:replace="web/fragment/header :: header">
</div>

<!--Navbar Menu-->
<div th:replace="web/fragment/nav :: nav">
</div>

<!--Nội dung-->
<div layout:fragment="content">
</div>

<!--Footer-->
<div th:replace="web/fragment/footer :: footer">
</div>

</body>
</html>