<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Book-Store | Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <h4 class="mt-4 title">[[${title}]]</h4>
        <div class="card mb-4 col-md-8">
            <div class="card-header">Thông tin khuyến mãi</div>
            <div class="card-body">
                <form th:action="@{/admin/promotion/save}"
                      method="post"
                      th:object="${promotion}">

                    <input type="hidden" th:field="*{id}"/>

                    <label>Tên khuyến mãi</label></br>
                    <input type="text" th:field="*{name}" class="form-control name-promotion"/>
                    <div class="divide"></div>

                    <label>Số giảm</label></br>
                    <input type="number" th:field="*{reduceNumber}" class="form-control reduceNumber"/>
                    <div class="divide"></div>

                    <button type="submit" class="btn-outline-success btn btn-save-promotion">Save</button>
                    <button type="button" class="btn-outline-secondary btn m-2" onclick="cancelForm()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $('.btn-save-promotion').click(function () {
            let name = $('.name-promotion').val().trim();
            let reduceNumber = $('.reduceNumber').val().trim();

            if (name == '') {
                alert('Yêu cầu nhập tên khuyến mãi');
                event.preventDefault();
            } else {
                if (reduceNumber == '') {
                    alert('Yêu cầu nhập số giảm');
                    event.preventDefault();
                } else {
                    if (reduceNumber <= 0 || reduceNumber >= 100) {
                        alert('Yêu cầu số giảm phải lớn hơn 0 và nhỏ hơn 100');
                        event.preventDefault();
                    }
                }
            }
        })

        function cancelForm() {
            window.location = "/book-store/admin/promotion";
        }
    </script>
</div>
</body>
</html>