<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Book-Store | Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid px-4 revenue">
        <h4 class="mt-4">Thống Kê Doanh Thu</h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a class="link_home nav_home" th:href="@{/admin}"><i class="fas fa-home"></i>
                Trang Chủ</a></li>
            <li class="breadcrumb-item active">Thống kê doanh thu</li>
        </ol>

        <div class="revenue-method">
            <label>Lựa chọn phương thức thống kê</label></br>
            <button class="btn-outline-primary btn"><a th:href="@{/admin/statistic/revenueByProduct}">Thống kê doanh thu theo sản phẩm</a></button>
            <button class="btn-outline-success btn" style="margin-left: 10px"><a th:href="@{/admin/statistic/revenueByMonth}">Thống kê doanh thu theo tháng</a></button>
        </div>
    </div>
</div>
</body>
</html>