<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book-Store | Admin</title>
</head>
<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="header">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{'/admin'}">Book Store</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" id="account">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle admin-info" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"> <i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="padding: 0px">
                <li><a style="padding: 8px 0px 8px 8px" class="dropdown-item logout">Đăng Xuất</a></li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>

